.container {
	display: flex;
	position: relative;
	box-sizing: border-box;
}
.wrapper {
	gap: 0 0.5rem;
	display: flex;
	padding: 0 0.75rem;
	position: relative;
	align-items: center;
	width: var(--width);
	transition: all ease 0.3s;
	height: var(--height, 3.125rem);
	border-radius: var(--border-radius, 1.5625rem);
	background-color: var(--background, transparent);
}
.container.textArea {
	--height: 8.75rem;

	width: 100%;
}
.input {
	z-index: 3;
	width: 100%;
	height: 100%;
	border: none;
	resize: none;
	display: flex;
	outline: none;
	position: relative;
	box-sizing: border-box;
	background: transparent;
	color: var(--color-white);
	font-size: var(--font-size);
	padding: 0.7rem 0.125rem 0.5rem;
	font-family: var(--font-family);
}
.ltr .input {
	direction: ltr;
	text-align: left;
}
.input::placeholder {
	opacity: 0.6;
	color: var(--color-white);
	font-size: var(--font-size, var(--font-size-MBody));
}
