.container {
	z-index: 500;
	cursor: pointer;
	position: relative;
	min-width: 14.75rem;
	box-sizing: border-box;
	height: var(--height, 4rem);
}
.selectedWrapper {
	width: 100%;
	z-index: 10;
	align-items: center;
	padding: 0 1rem 0 0.5rem;
	color: var(--color-white);
}
.icon {
	font-size: 1.5rem;
}
.menu {
	top: 0;
	left: 0;
	z-index: 9;
	min-width: 100%;
	overflow: hidden;
	position: absolute;
	transition: all 0.3s;
	background-color: var(--background);
	border-radius: var(--border-radius);
}
.options {
	right: 0;
	width: 100%;
	display: flex;
	top: var(--height);
	position: absolute;
	transition: all 0.3s;
	box-sizing: border-box;
	flex-direction: column;
	border-top: solid 1px transparent;
}
.options li {
	cursor: pointer;
	padding: 0.6rem 1rem;
	transition: all 0.3s;
}
.options li:hover,
.options li.active {
	opacity: 0.6;
}
