.container {
	--background: transparent;
	--text-color: var(--color-white);

	gap: 0 5px;
	display: flex;
	cursor: pointer;
	padding: 0.5rem;
	position: relative;
	align-items: center;
	transition: all 0.3s;
	box-sizing: border-box;
	justify-content: center;
	width: var(--button-width);
	height: var(--button-height);
	background: var(--background);
	border-radius: var(--border-radius, 0.5rem);
}
.container.primary {
	--border-radius: 1.5625rem;
	--background: var(--color-primary);

	padding: 1.219rem 1.51rem;
}
.container.primary.-theme-1:hover {
	--background: var(--color-primary-darker);
}
.container.primary.-theme-2 {
	--background: transparent;
}
.container.primary.large {
	padding: 1.219rem 2rem;
}
.container.circular {
	--size: 40px;

	padding: 0;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
}
.container.circular > i {
	font-size: var(--iconSize, 1rem);
}
.container.circular.large {
	--size: 56px;
}
.container.circular.large > i {
	font-size: var(--iconSize, 1.25rem);
}
.container.reverse {
	flex-direction: row-reverse;
}
.container.loading {
	box-shadow: unset !important;
	transition: unset !important;
	background-color: unset !important;
}
.container.loading::after {
	--size: 2.5rem;

	content: "";
	position: absolute;
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
	animation: loading 1.5s infinite;
	border: 3px solid rgba(var(--color-bg-5), 0.06);
	border-top-color: var(--color-primary);
}
.container.loading * {
	opacity: 0;
	transition: unset !important;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.container > i {
	transition: all 0.3s;
	color: var(--text-color);
	font-size: var(--iconSize, 1rem);
}
.title {
	line-height: normal;
	transition: all 0.3s;
	color: var(--text-color);
}
