.container {
  position: relative;
  padding: 4.375rem 0 2.5rem;
}
.wrapper {
  display: grid;
  align-items: flex-end;
  justify-content: space-between;
}
.context {
  grid-row: 1;
}
.logo {
  width: 10rem;
  display: block;
}
.description {
  width: 20em;
  line-height: 1.11;
  text-align: justify;
  margin-top: 1.5rem;
  text-align-last: left;
  letter-spacing: normal;
  text-shadow: var(--text-shadow-1);
}
.copyright {
  grid-row: 4;
  opacity: 0.8;
  line-height: normal;
  margin-top: 4.4375rem;
  letter-spacing: normal;
  text-shadow: var(--text-shadow-1);
}
.links {
  gap: 0 4rem;
  grid-row: 1/4;
  display: flex;
}
.titleLinks {
  opacity: 0.4;
  margin-bottom: 1.5625rem;
  color: var(--color-text-1);
}
.linksItem {
  line-height: normal;
  padding: 0 !important;
  letter-spacing: -0.11px;
  justify-content: flex-start;
}
.linksItem:not(:last-child) {
  margin-bottom: 1.25rem;
}
.linksItem > i {
  --iconSize: 1.2rem;

  margin-right: 1.125rem;
}
.socialMediaTitle {
  display: block;
  margin: 1.25rem 0 1.875rem;
}
.socialMedia {
  display: flex;
  gap: 0 0.625rem;
}
.socialMediaItems {
  --iconSize: 2rem;
  --size: 50px !important;
  --background: rgba(var(--color-white-rgb), 0.2);

  padding: 0 !important;
}
.socialMediaItems:hover {
  --background: var(--color-text-2);
}
.floatImg {
  z-index: -1;
  position: absolute;
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1600px) {
  .context {
    display: flex;
    gap: 0 1.5rem;
    grid-column: 1/3;
    align-items: flex-end;
    justify-content: center;
    justify-content: center;
  }
  .logo {
    margin-bottom: 0.3rem;
  }
  .description {
    margin: 0;
  }
  .copyright {
    margin-top: 0;
  }
  .links {
    grid-row: 3/4;
    margin: 3rem 0;
    gap: 2rem 2.5rem;
    grid-column: 1/3;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1100px) {
  .wrapper {
    gap: 0 5rem;
    align-items: flex-start;
    justify-content: center;
  }
  .context {
    gap: 1.5rem 0;
    grid-column: 1;
    align-items: center;
    flex-direction: column;
  }
  .links {
    margin: 0;
    grid-row: 1/4;
    grid-column: 2/3;
    flex-direction: column;
  }
  .copyright {
    grid-row: 2/3;
    margin-top: 3rem;
  }
  .wrapper .floatImg {
    right: -6rem;
    top: 80% !important;
    left: unset !important;
  }
}
@media screen and (max-width: 830px) {
  .container {
    padding: 3rem 0 1rem;
  }
  .context {
    gap: 1.5rem 0;
    grid-column: 1;
    align-items: center;
    flex-direction: column;
  }
  .links {
    grid-row: 2;
    grid-column: 1;
    margin: 1.875rem 0;
    text-align: center;
  }
  .linksItem {
    margin-left: auto;
    margin-right: auto;
  }
  .socialMedia {
    justify-content: center;
  }
  .copyright {
    grid-row: 4;
    margin-top: 0;
  }
  .description {
    text-align: left;
  }
}
@media screen and (max-width: 630px) {
  .logo {
    width: 7.3125rem;
  }
  .description {
    width: 100%;
    text-align: center;
    text-align-last: center;
  }
  .socialMedia {
    flex-wrap: wrap;
  }
  .copyright {
    text-align: center;
  }
}
