.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-bg-1);
}
