.wrapper {
  --paginationOffsetX: 6px;
  --paginationOffsetY: 22px;

  flex: 1;
  position: relative;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.container * {
  box-sizing: inherit;
}
.slide {
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
  height: auto !important;
}
.dynamicSlide .slide {
  width: auto !important;
}
.product .slide {
  align-items: center;
  justify-content: center;
}
.sliderNavigator {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 10;
  color: var(--color-primary);
  cursor: pointer;
  padding: 0;
}
.multi .sliderNavigator {
  font-size: 20px;
}
.product .sliderNavigator {
  font-size: 18px;
}
.fullPage .sliderNavigator {
  font-size: 20px;
}
.multi .sliderNavigator.next {
  left: -2.5rem;
  transform: translateY(-50%) scaleX(-1);
}
.multi .sliderNavigator.prev {
  right: -2.5rem;
  transform: translateY(-50%);
}
.product .sliderNavigator.next,
.fullPage .sliderNavigator.next {
  left: 0;
  transform: scaleX(-1);
}
.product .sliderNavigator.prev,
.fullPage .sliderNavigator.prev {
  right: 0;
}
.multi .sliderNavigator.disabled {
  opacity: 0;
  pointer-events: none;
}
.fullPage .sliderNavigator.disabled {
  opacity: 0.5;
}
.wrapper.horizontal [class*="swiper-pagination"] {
  bottom: var(--paginationOffsetY) !important;
}
.wrapper.vertical [class*="swiper-pagination"] {
  right: var(--paginationOffsetX) !important;
}
.wrapper.horizontal .bullet {
  margin: 0 3.75px;
}
.wrapper.vertical .bullet {
  margin: 6px auto;
}
.bullet {
  --size: 10px;

  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  transition: all 200ms;
}
.bullet.-theme-1,
.bullet.-theme-4 {
  will-change: width;
  border-radius: 10px;
}
.bullet.-theme-1 {
  background: rgb(var(--color-bg-3));
}
.bullet.-theme-2,
.bullet.-theme-3 {
  opacity: 0.5;
  will-change: transform;
  transform: scale(0.667);
}
.bullet.-theme-2 {
  --size: 6px;

  background: var(--color-text-6);
}
.bullet.-theme-3 {
  background: rgb(var(--color-bg-5));
}
.bullet.-theme-1.activeBullet,
.bullet.-theme-4.activeBullet {
  width: 17.5px;
}
.bullet.-theme-1.activeBullet {
  background: var(--color-orange);
}
.bullet.-theme-2.activeBullet,
.bullet.-theme-3.activeBullet {
  opacity: 1;
  transform: scale(1);
}
.bullet.-theme-2.activeBullet {
  background: var(--color-text-5);
}
.bullet.-theme-4 {
  background: var(--color-text-4);
}
.bullet.-theme-4.activeBullet {
  background: var(--color-primary);
}
