.container {
  --moreButtonMargin: 4.6875rem;

  display: flex;
  margin-top: 21rem;
  position: relative;
  align-items: flex-start;
}
.wrapper {
  display: flex;
  gap: 0 5.3125rem;
}
.backgroundText {
  top: 40%;
  z-index: -1;
  opacity: 0.08;
  font-weight: bold;
  position: absolute;
  width: max-content;
  font-size: 17.34375rem;
  color: var(--color-text-5);
  left: calc(var(--margin-container) / -2);
}
.imgContent {
  flex-shrink: 0;
  height: 47.5rem;
  width: 35.5625rem;
  position: relative;
  border-radius: 2.5rem;
}
.imgContent > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.imgContent::before {
  width: 30%;
  z-index: -1;
  content: "";
  top: 3.125rem;
  bottom: 3.125rem;
  left: -2.8125rem;
  position: absolute;
  border-radius: inherit;
  background-color: var(--color-bg-5);
}
.context {
  --border-radius: 2.5rem;

  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7.5rem 2rem 2.9375rem;
}
.title,
.description {
  z-index: 5;
}
.title {
  font-weight: bold;
  font-size: var(--font-size-Head);
}
.description {
  width: 28em;
  opacity: 0.8;
  line-height: normal;
  text-align: justify;
  letter-spacing: normal;
  text-align-last: center;
  margin: 1.875rem 0 5.4375rem;
  text-shadow: var(--text-shadow-1);
  font-size: var(--font-size-XXLBody);
}
.contextItemsWrapper {
  --contextItemGutter: 2.25rem;
}
.floatImg {
  position: absolute;
  pointer-events: none;
  top: var(--top);
  left: var(--left);
  right: var(--right);
  width: var(--width);
  bottom: var(--bottom);
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1600px) {
  .imgContent {
    height: 38.5rem;
    width: 27.6875rem;
  }
  .context {
    padding: 6rem 2rem 2.9375rem;
  }
  .title {
    font-size: var(--font-size-XXLTitle);
  }
  .description {
    font-size: var(--font-size-XLBody);
  }
  .contextItemsWrapper {
    --contextItemGutter: 1rem;
    --contextItemFontSize: var(--font-size-STitle);
  }
}
@media screen and (max-width: 1300px) {
  .container {
    margin-top: 35vw;
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .wrapper::before {
    display: none;
  }
  .imgContent {
    left: 50%;
    top: -11vw;
    width: 45vw;
    z-index: 200;
    height: 51vw;
    position: absolute;
    border-radius: 1.875rem;
    margin: 0 auto 3.8125rem;
    transform: translateX(-50%);
  }
  .imgContent::before {
    content: "";
    width: auto;
    z-index: -1;
    top: 3.125rem;
    left: 0.875rem;
    right: 0.875rem;
    bottom: -1.25rem;
  }
  .imgContent img {
    object-position: center top;
  }
  .context {
    width: 100%;
    padding: 50vw 2rem 2.9375rem;
  }
  .description {
    width: 28em;
    font-size: var(--font-size-XLBody);
  }
  .contextItemsWrapper {
    --contextItemGutter: 2.25rem;
  }
}
@media screen and (max-width: 1200px) {
  .title {
    font-size: var(--font-size-XLTitle);
  }
  .description {
    margin: 1.375rem 0 3.4375rem;
    font-size: var(--font-size-XLBody);
  }
  .floatImg_1 {
    --top: 0 !important;
    --left: -9rem !important;
  }
  .floatImg_2 {
    --width: 9.375rem;
    --left: 50% !important;
    --top: calc(50% - 4.2rem) !important;
  }
  .floatImg_3 {
    --width: 10.9375rem;
    --top: 50% !important;
    --left: calc(50% - 18rem) !important;
  }
  .floatImg_4 {
    --width: 18.125rem;
    --right: -5rem !important;
    --bottom: -2.9rem !important;
  }
}
@media screen and (max-width: 990px) {
  .context {
    --border-radius: 1.875rem;
  }
  .contextItemsWrapper {
    --contextItemGutter: 1.5rem;
  }
}
@media screen and (max-width: 790px) {
  .context {
    --border-radius: 1.25rem;
  }
  .title {
    font-size: var(--font-size-LTitle);
  }
  .description {
    opacity: 1;
    width: 18em;
    text-align: center;
    margin: 1.375rem 0 2.125rem;
    text-shadow: var(--text-shadow-3);
  }
  .floatImg_2 {
    --width: 7.3125rem;
    --top: calc(50% - 8rem) !important;
  }
  .floatImg_3 {
    --width: 9.6875rem;
    --left: calc(50% - 10rem) !important;
  }
  .floatImg_4 {
    --width: 15rem;
  }
}
@media screen and (max-width: 650px) {
  .container {
    --moreButtonMargin: 2.875rem;
  }
  .contextItemsWrapper {
    --contextItemGutter: 0;
    --contextItemFontSize: 1.75rem;

    gap: 1.5rem 0;
    flex-wrap: wrap;
  }
  .contextItem {
    width: 100%;
  }
  .contextItem::before {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .container::before {
    left: -14rem;
    bottom: -10rem;
    width: 18.75rem;
    height: 18.75rem;
  }
  .title {
    font-size: var(--font-size-Title);
  }
  .description {
    font-size: var(--font-size-MBody);
  }
  .imgContent {
    width: 75vw;
    height: 86vw;
  }
  .context {
    width: 100%;
    padding: 90vw 2rem 2.9375rem;
  }
  .floatImg_2 {
    --top: calc(50% - 4rem) !important;
  }
  .floatImg_3 {
    --width: 8.4375rem;
    --top: calc(50% + 2rem) !important;
    --left: calc(50% - 8rem) !important;
  }
  .floatImg_4 {
    --width: 13.375rem;
    --right: -3.7rem !important;
    --bottom: -2.4rem !important;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: var(--font-size-STitle);
  }
  .description {
    font-size: var(--font-size-Body);
  }
  .contextItemsWrapper {
    --contextItemFontSize: var(--font-size-XLBody);
  }
}
