@font-face {
  font-family: "Product Sans";
  src: url("./eot/ProductSans-Bold.eot");
  src: url("./eot/ProductSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("./woff2/ProductSans-Bold.woff2") format("woff2"),
    url("./woff/ProductSans-Bold.woff") format("woff"),
    url("./ttf/ProductSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("./eot/ProductSans-Regular.eot");
  src: url("./eot/ProductSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("./woff2/ProductSans-Regular.woff2") format("woff2"),
    url("./woff/ProductSans-Regular.woff") format("woff"),
    url("./ttf/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
