@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rp2ig9');
  src:  url('fonts/icomoon.eot?rp2ig9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rp2ig9') format('truetype'),
    url('fonts/icomoon.woff?rp2ig9') format('woff'),
    url('fonts/icomoon.svg?rp2ig9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e983";
}
.icon-btw .path1:before {
  content: "\e913";
  color: rgb(197, 130, 112);
  opacity: 0.4;
}
.icon-btw .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(214, 144, 125);
}
.icon-arrow-down-2:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e900";
}
.icon-message .path1:before {
  content: "\e905";
  color: rgb(192, 93, 84);
  opacity: 0.4;
}
.icon-message .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(192, 93, 84);
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e912";
}
.icon-calling .path1:before {
  content: "\e909";
  color: rgb(192, 93, 84);
  opacity: 0.4;
}
.icon-calling .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(192, 93, 84);
  opacity: 0.4;
}
.icon-calling .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(192, 93, 84);
}
.icon-location .path1:before {
  content: "\e90c";
  color: rgb(192, 93, 84);
}
.icon-location .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(192, 93, 84);
  opacity: 0.4;
}
.icon-mouse:before {
  content: "\e90e";
  color: #fff;
}
.icon-telegram:before {
  content: "\e90f";
  color: #fff;
}
.icon-twiiter:before {
  content: "\e901";
  color: #fff;
}
.icon-facebook:before {
  content: "\e902";
  color: #fff;
}
.icon-instagram:before {
  content: "\e903";
  color: #fff;
}
.icon-linkedin:before {
  content: "\e904";
  color: #fff;
}
