.container {
  --border-radius: 1.5625rem;

  display: flex;
  align-items: center;
  padding-top: 1.875rem;
  justify-content: space-between;
  z-index: 100;
}
.button {
  --button-height: 3.375rem;
  --button-width: 10.3125rem;
  --iconSize: 1.5rem !important;
  box-shadow: 0 0.2rem 0rem rgba(255, 255, 255, 0);
  text-shadow: 0 0.2rem 0rem rgba(var(--color-primary-rgb), 0);
}
.button:hover {
  box-shadow: var(--text-shadow-5);
  background: rgba(var(--color-bg-1-rgb), 0.3);
}
.border {
  transition: all 0.3s;
}
.button:hover .border {
  opacity: 0;
}
.menuButton {
  --button-width: 9.1875rem;
}
.button > i {
  --text-color: var(--color-primary) !important;
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1400px) {
  .logo {
    width: 9rem;
  }
}
@media screen and (max-width: 1024px) {
  .button {
    --size: 48px !important;
  }
  .buttonTitle {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  .container {
    padding-top: 0.875rem;
  }
  .logo {
    width: 7.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    width: 5.3125rem;
  }
  .button {
    --size: 40px !important;
    --iconSize: 1rem !important;
  }
}
