.container {
  z-index: 5;
  display: flex;
  justify-content: center;
}
.button {
  line-height: 1.33;
  padding: 0 !important;
  text-shadow: var(--text-shadow-2);
}
.button:not(:last-child) {
  margin-right: var(--contextItemGutter);
  padding-right: var(--contextItemGutter) !important;
}
.button:not(.active) * {
  opacity: 0.4;
}
.button:not(:last-child)::before {
  right: 0;
  top: 50%;
  width: 2px;
  content: "";
  opacity: 0.3;
  height: 4.6875rem;
  position: absolute;
  border-radius: 0.9px;
  transform: translateY(-50%);
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(var(--color-white-rgb), 0.7) 51%,
    transparent
  );
}
.button > * {
  font-weight: bold !important;
  font-size: var(--contextItemFontSize, var(--font-size-MTitle)) !important;
}
.moreButton {
  --iconSize: 1.5rem;

  z-index: 5;
  margin-top: var(--moreButtonMargin);
}

/* ----------Media Queries---------- */

@media screen and (max-width: 650px) {
  .moreButton {
    --iconSize: 1.2rem;
  }
  .moreButton > *:not(i) {
    font-size: var(--font-size-MBody) !important;
  }
}
