.container {
  left: 50%;
  gap: 0 9px;
  display: flex;
  position: absolute;
  align-items: center;
  letter-spacing: normal;
  transform: translateX(-50%);
}
.container > i {
  --iconSize: 1.5rem;
}
.container > i:first-of-type {
  opacity: 0.5;
}
.container > i:last-of-type {
  margin-top: 1px;
  color: var(--color-text-4);
}

/* ----------Media Queries---------- */

@media screen and (max-width: 990px) {
  .container {
    display: none;
  }
}
