.container {
	display: flex;
	margin: 5.625rem auto 0 !important;
}
.links {
	display: flex;
	gap: 1.75rem 0;
	flex-basis: 50%;
	flex-direction: column;
	border-right: 2px solid rgba(var(--color-white-rgb), 0.06);
}
.linksItem {
	width: max-content;
	padding: 0 !important;
}
.linksItemTitle {
	opacity: 0.3;
	font-weight: bold;
	line-height: normal;
	font-size: var(--font-size-XLTitle);
}
.linksItemTitle.active {
	opacity: 1;
	font-style: italic;
}
.context {
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.title {
	font-weight: bold;
	line-height: normal;
	margin: 2.15em 0 1.08em;
	font-size: var(--font-size-LSTitle);
}
.contact {
	display: flex;
	gap: 1.25rem 0;
	flex-direction: column;
}
.contactItems {
	--iconSize: 2.38rem;

	display: flex;
	gap: 0 1.25rem;
	align-items: center;
	line-height: normal;
	font-size: var(--font-size-STitle);
}
.contactItemsCpation {
	opacity: 0.6;
	display: block;
	margin-bottom: 0.3125rem;
	font-size: var(--font-size-Body);
}
.contactItems > i:not([class*="btw"]) {
	filter: brightness(1.6) opacity(0.5);
}
.socialMedia {
	display: flex;
	gap: 0 1.25rem;
	margin-top: 2.9375rem;
}
.socialMediaItems {
	--iconSize: 1.5rem;
	--size: 50px !important;

	border: 1px solid rgba(var(--color-white-rgb), 0.2);
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1919px) {
	.container {
		margin: 1.875rem auto 0 !important;
	}
	.links {
		gap: 1.25rem 0;
	}
	.linksItemTitle {
		font-size: var(--font-size-MTitle);
	}
	.logo {
		width: 10rem;
	}
	.title {
		font-size: var(--font-size-XLBody);
	}
	.contactItems {
		--iconSize: 1.3em;

		font-size: var(--font-size-XXLBody);
	}
	.contactItemsCpation {
		font-size: var(--font-size-Caption);
	}
}
@media screen and (max-width: 1400px) {
	.linksItemTitle {
		font-size: var(--font-size-Title);
	}
	.logo {
		width: 8rem;
	}
	.title {
		margin: 1.5em 0 1.08em;
		font-size: var(--font-size-LBody);
	}
	.contactItems {
		font-size: var(--font-size-LBody);
	}
	.contactItemsCpation {
		font-size: var(--font-size-Caption);
	}
	.socialMedia {
		margin-top: 2.1875rem;
	}
}
@media screen and (min-width: 790px) {
	.container > .logo {
		display: none;
	}
}
@media screen and (max-width: 790px) {
	.container {
		flex-direction: column;
		margin: 0 auto !important;
	}
	.links {
		gap: 1.25rem 0;
		flex-basis: 100%;
		align-items: center;
		border-right: unset;
		padding-bottom: 1.6875rem;
		border-bottom: 2px solid rgba(var(--color-white-rgb), 0.06);
	}
	.linksItemTitle {
		font-size: var(--font-size-XXLBody);
	}
	.linksItemTitle.active {
		font-style: normal;
	}
	.context .logo,
	.title,
	.contact {
		display: none;
	}
	.logo {
		width: 7.3125rem;
		margin: 0.875rem auto 2.5rem;
	}
	.socialMedia {
		margin-top: 1.875rem;
	}
}
