.container {
  --border-radius: 2.5rem;
  --moreButtonMargin: 5.95625rem;

  display: flex;
  position: relative;
  margin-top: 10.875rem;
}
.wrapper {
  display: flex;
}
.backgroundText {
  top: 30%;
  z-index: -1;
  opacity: 0.08;
  font-weight: bold;
  position: absolute;
  width: max-content;
  font-size: 12.625rem;
  color: var(--color-text-5);
  left: calc(var(--margin-container) / -1.8);
}
.context {
  flex-grow: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding: 9.375rem 4.9375rem 2rem;
}
.context > *:not(img) {
  z-index: 5;
}
.title {
  font-weight: bold;
  text-align: center;
  line-height: normal;
  font-size: var(--font-size-Head);
}
.description {
  width: 38em;
  opacity: 0.8;
  text-align: justify;
  line-height: normal;
  letter-spacing: normal;
  text-align-last: center;
  margin: 3.125rem 0 5.875rem;
  text-shadow: var(--text-shadow-1);
  font-size: var(--font-size-STitle);
}
.contextItemsWrapper {
  --contextItemGutter: 2.25rem;
}
.imgContent {
  z-index: 200;
  height: 50rem;
  flex-shrink: 0;
  width: 23.5rem;
  margin-right: calc(var(--margin-container) / -2);
}
.imgContent img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  margin-top: 3.125rem;
  object-position: center top;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.floatImg {
  position: absolute;
  pointer-events: none;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  right: var(--right);
  bottom: var(--bottom);
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1600px) {
  .container {
    margin-top: 10.875rem;
  }
  .context {
    padding: 4rem 4.9375rem 2rem;
  }
  .title {
    font-size: var(--font-size-XXLTitle);
  }
  .description {
    width: 27em;
    font-size: var(--font-size-XXLBody);
  }
  .contextItemsWrapper {
    --contextItemFontSize: var(--font-size-Title);
  }
  .floatImg_1 {
    --width: 21rem;
    --top: 0 !important;
    --left: -8rem !important;
  }
  .floatImg_2,
  .floatImg_3 {
    --width: 15rem;
    --top: 5% !important;
  }
  .floatImg_2 {
    --left: calc(50% - 10rem) !important;
  }
  .floatImg_3 {
    --left: 50% !important;
  }
  .floatImg_4 {
    --width: 20rem;
    --bottom: -15% !important;
  }
  .imgContent {
    height: 45rem;
  }
}
@media screen and (max-width: 1400px) {
  .wrapper::before {
    display: none;
  }
  .context {
    padding: 4rem 3rem 2.9375rem;
  }
  .floatImg_4 {
    --left: -2.5% !important;
  }
  .contextItemsWrapper {
    --contextItemGutter: 1rem;
    --contextItemFontSize: var(--font-size-STitle);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    --moreButtonMargin: 4rem;
  }
  .context {
    padding: 3rem 2rem 2.9375rem;
  }
  .title {
    font-size: var(--font-size-XLTitle);
  }
  .description {
    width: 89%;
    font-size: var(--font-size-XLBody);
  }
  .imgContent {
    width: 19rem;
    height: 37rem;
  }
  .floatImg_4 {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  .container {
    --border-radius: 1.875rem;

    margin-top: calc(50vw + 14rem);
  }
  .context {
    padding: 2.4375rem 1rem 2.9375rem;
  }
  .description {
    margin: 2.5rem 0 2.9375rem;
  }
  .contextItemsWrapper {
    --contextItemGutter: 1.5rem;
  }
  .imgContent {
    left: 50%;
    z-index: -1;
    width: 65vw;
    top: -43.5vw;
    height: auto;
    position: absolute;
    transform: translateX(-50%);
  }
  .imgContent img {
    margin-top: 0;
    border-radius: var(--border-radius);
  }
  .floatImg_1 {
    --width: auto;
    --top: -14rem !important;
    --left: -19rem !important;
  }
  .floatImg_2,
  .floatImg_3 {
    --width: 11.5rem;
  }
  .floatImg_2 {
    --left: calc(50% - 10rem) !important;
  }
  .floatImg_3 {
    --left: calc(50% + -2rem) !important;
  }
}
@media screen and (max-width: 790px) {
  .container {
    --border-radius: 1.25rem;
  }
  .title {
    font-size: var(--font-size-LTitle);
  }
  .description {
    opacity: 1;
    margin: 1.875rem 0 2.3125rem;
    text-shadow: var(--text-shadow-3);
  }
  .contextItemsWrapper {
    --contextItemGutter: 0;
    --contextItemFontSize: 1.75rem;

    gap: 1.5rem 0;
    flex-wrap: wrap;
  }
  .contextItem {
    width: 100%;
  }
  .contextItem::before {
    display: none;
  }
  .floatImg_2,
  .floatImg_3 {
    --top: 2.5% !important;
    --width: 10rem;
  }
  .floatImg_2 {
    --left: calc(50% - 10rem) !important;
  }
  .floatImg_3 {
    --left: calc(50% + -3rem) !important;
  }
}
@media screen and (max-width: 580px) {
  .title {
    font-size: var(--font-size-Title);
  }
  .description {
    margin: 1.25rem 0 1.6875rem;
    font-size: var(--font-size-MBody);
  }
  .imgContent {
    top: -50vw;
    width: 75vw;
  }
  .floatImg_2,
  .floatImg_3 {
    --width: 8rem;
    --top: 2.5% !important;
  }
  .floatImg_2 {
    --left: calc(50% - 7rem) !important;
  }
  .floatImg_3 {
    --left: calc(50% - 1rem) !important;
  }
}
@media screen and (max-width: 480px) {
  .contextItemsWrapper {
    --contextItemFontSize: var(--font-size-XLBody);
  }
}
