.container {
  position: relative;
  padding-top: 9.6875rem;
}
.title {
  text-align: center;
  margin: 0 auto 1.725rem;
  display: flex;
  flex-direction: column;
}
.title span {
  overflow: hidden;
  transition: all 0.5s;
  text-shadow: 0 0 3rem transparent;
}
.title p {
  transform-origin: right bottom;
  font-size: var(--font-size-LHead);
  letter-spacing: -0.05em;
  line-height: 1.2;
  font-weight: bold;
}
.title span:last-child {
  margin-top: -1rem;
}
.description {
  width: 35em;
  margin: 0 auto;
  text-align: justify;
  line-height: normal;
  text-align-last: center;
  letter-spacing: 0.025rem;
  text-shadow: var(--text-shadow-1);
  font-size: var(--font-size-STitle);
  /* transition: all 0.5s; */
}
.floatImg {
  z-index: -1;
  position: absolute;
  top: var(--top);
  left: var(--left);
  right: var(--right);
  width: var(--width, auto);
}
.mouseIcon {
  --iconSize: 2.4rem;

  opacity: 0.5;
  display: block;
  width: max-content;
  margin: 12.375rem auto 0;
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1400px) {
  .floatImg_1 {
    --top: 9.5% !important;
    --left: calc(50% - 37rem) !important;
  }
  .floatImg_2 {
    --width: 24rem;
    --top: 7% !important;
    --left: calc(50% - 34rem) !important;
  }
  .floatImg_5 {
    --top: 52% !important;

    min-width: 12.5rem;
  }
  .floatImg_6,
  .floatImg_7 {
    --top: 40% !important;
    --left: unset !important;
  }
  .floatImg_6 {
    --right: 0 !important;
  }
  .floatImg_7 {
    --right: 0 !important;
  }
}
@media screen and (max-width: 1300px) {
  .floatImg_1 {
    --top: -4% !important;
    --left: -5rem !important;
  }
  .floatImg_4 {
    display: none;
  }
  .floatImg_5 {
    --width: 40%;
    --top: 65% !important;
    --left: -16% !important;
  }
  .floatImg_6,
  .floatImg_7 {
    --width: 25rem;
    --top: 50% !important;
    --left: unset !important;
  }
  .floatImg_6 {
    --right: -10rem !important;
  }
  .floatImg_7 {
    --right: -8rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding-top: 3.75rem;
  }
  .title p {
    font-size: var(--font-size-Head);
  }
  .description {
    width: 27em;
    text-align: center;
    font-size: var(--font-size-XXLBody);
  }
  .mouseIcon {
    --iconSize: 2rem;

    margin: 8.75rem auto 0;
  }
  .floatImg_2 {
    --width: 17rem;
    --top: 0% !important;
    --left: calc(50% - 26rem) !important;
  }
  .floatImg_3 {
    --top: 38% !important;
    --left: 87% !important;
  }
  .floatImg_6,
  .floatImg_7 {
    --width: 20rem;
  }
  .floatImg_6 {
    --right: -9rem !important;
  }
  .floatImg_7 {
    --right: -7rem !important;
  }
}
@media screen and (max-width: 790px) {
  .title p {
    font-size: var(--font-size-XXLTitle);
  }
  .description {
    opacity: 1;
    width: 17.5em;
    line-height: 1.5;
    text-shadow: var(--text-shadow-3);
    font-size: var(--font-size-XLBody);
  }
  .floatImg_2 {
    --width: 12.9375rem;
    --left: calc(50% - 17rem) !important;
  }
}
@media screen and (max-width: 560px) {
  .title p {
    font-size: var(--font-size-XLTitle);
  }
  .description {
    font-size: var(--font-size-LBody);
  }
  .floatImg_2 {
    --width: 10.5rem;
    --top: 3% !important;
    --left: calc(50% - 14.7rem) !important;
  }
  .floatImg_6,
  .floatImg_7 {
    --width: 17.125rem !important;
  }
  .floatImg_6 {
    --right: -8.5rem !important;
  }
  .floatImg_7 {
    --right: -6.5rem !important;
  }
}
@media screen and (max-width: 480px) {
  .title p {
    font-size: var(--font-size-MTitle);
  }
  .description {
    font-size: var(--font-size-MBody);
  }
  .mouseIcon {
    margin: 5rem auto 0;
  }
  .floatImg_2 {
    --width: 9.4375rem;
    --left: calc(50% - 11.7rem) !important;
  }
  .floatImg_5 {
    --left: -5rem !important;
  }
}
