.container {
  display: flex;
  gap: 0 12.375rem;
}
.container.paddingRight {
  padding-right: 30%;
  height: 100%;
  align-items: center;
  padding-top: 4rem;
}
.modal {
  background-image: radial-gradient(
    circle at 49% 57%,
    rgba(43, 34, 30, 0.5),
    rgba(108, 81, 69, 0.4) 138%
  ) !important;
}
.scroller {
  height: 48.6875rem;
  scrollbar-width: none;
  overflow: hidden auto;
  padding: 2.1875rem 0 8.125rem;
}
.scroller::-webkit-scrollbar {
  width: 0;
}
.selectTitle {
  opacity: 0.6;
  font-size: var(--font-size-XLBody);
}
.select {
  --height: 5.25rem;

  margin: 1rem 0 1.875rem;
  font-size: var(--font-size-MBody);
}
.selectWrapper {
  padding: 1.875rem 2rem !important;
}
.selectMenu {
  --border-radius: 1.5625rem;
}
.selectMenu li {
  padding: 1rem 2rem !important;
}
.img {
  object-fit: cover;
  width: 35.5625rem;
  height: 49.9375rem;
  border-radius: 1.875rem;
}
.backgroundImg {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: scale(1.5) translateX(50%);
}
.backgroundImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(40px);
}
