.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 3.75rem 0;
  justify-content: space-between;
}
.container::before {
  content: "";
  z-index: -1;
  background-image: linear-gradient(
    to top,
    #000 -83%,
    rgba(0, 0, 0, 0.87) -10%,
    #c1816178 50%
  );
}
.container::before,
.backgroundImg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.backgroundImg {
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px) opacity(0.5);
}
.titleWrapper {
  width: 6em;
  position: relative;
  font-size: var(--font-size-Head);
}
.backgroundTitle {
  width: 3em;
  z-index: -1;
  position: absolute;
  max-width: max-content;
}
.title {
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.01em;
}
.description {
  opacity: 0.8;
  width: 32.4em;
  line-height: 1.4;
  margin-top: 1.875rem;
  white-space: pre-line;
  letter-spacing: 0.05rem;
  text-shadow: var(--text-shadow-4);
  font-size: var(--font-size-XXLBody);
}
.gallery {
  --count: 5;
  --gutter-t: 1.25rem;
  --img-size: 8.75rem;
  --gutter-l: 0.9375rem;

  display: flex;
  font-weight: bold;
  line-height: normal;
  margin-top: 6.8125rem;
  flex-direction: column;
  gap: var(--gutter-t) 0;
  letter-spacing: -0.009em;
  font-size: var(--font-size-LBody);
}
.carousel {
  margin: 0 calc(var(--margin-container) / -2);
}
.swiper {
  padding: 0 calc(var(--margin-container) / 2);
}
.imageWrapper {
  display: flex;
  gap: 0 var(--gutter-l);
}
.image {
  opacity: 0.5;
  cursor: pointer;
  object-fit: cover;
  transition: all 0.5s;
  width: var(--img-size);
  height: var(--img-size);
  border-radius: 0.45625rem;
}
.image.active {
  opacity: 1;
  backdrop-filter: blur(2.4px);
  transform: translateY(-0.625rem);
  box-shadow: 3px 20px 40px 0 rgba(113, 15, 0, 0.4);
}
.footer {
  --radius: 2.5rem;

  display: flex;
  margin-top: 3.75rem;
  align-items: center;
  padding: 0 3.75rem 0 0.625rem;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: var(--radius) var(--radius) 0 0;
}
.services {
  display: flex;
}
.servicesItem {
  display: flex;
  max-width: 24rem;
  position: relative;
  line-height: normal;
  font-weight: bold;
  flex-direction: column;
  padding: 2.1875rem 3.125rem;
  justify-content: space-between;
  font-size: var(--font-size-MBody);
}
.servicesItem:not(:first-child) {
  border-left: 2px solid rgba(var(--color-white-rgb), 0.1);
}
.unit {
  font-weight: normal;
  font-size: var(--font-size-STitle);
}
.price {
  font-weight: normal;
  font-size: var(--font-size-XXLTitle);
}
.transfer {
  --iconSize: 1.5rem;
}
.stepper {
  position: absolute;
  top: 10rem;
  right: 3rem;
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1600px) {
  .container {
    padding: 2rem 1.5rem 0;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    padding: 2rem 0 0;
  }
  .footer {
    padding: 0 calc(var(--margin-container) / 2) 0 0;
    margin: 3.75rem calc(var(--margin-container) / -2) 0;
  }
  .unit {
    font-size: var(--font-size-STitle);
  }
  .price {
    font-size: var(--font-size-LTitle);
  }
  .servicesItem {
    font-size: var(--font-size-Body);
    padding: 2.1875rem calc(var(--margin-container) / 2);
  }
}
@media screen and (max-width: 1250px) {
  .titleWrapper {
    font-size: var(--font-size-XXLTitle);
  }
  .description {
    font-size: var(--font-size-LBody);
  }
  .footer {
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 2rem calc(var(--margin-container) / -2) 0;
    padding: 1.875rem calc(var(--margin-container) / 2);
  }
  .services {
    gap: 1.25rem;
    flex-grow: 999;
    flex-wrap: wrap;
  }
  .servicesItem {
    width: 45%;
    padding: 0;
    border: unset !important;
  }
  .transfer {
    flex-grow: 1;
  }
}
@media screen and (max-width: 1000px) {
  .titleWrapper {
    font-size: var(--font-size-XLTitle);
  }
  .description {
    width: 80%;
    text-align: left;
    margin-top: 1.25rem;
    font-size: var(--font-size-MBody);
  }
  .gallery {
    --img-size: 7rem;
    --gutter-l: 0.625rem;

    font-size: var(--font-size-MBody);
  }
  .imagesWrapper {
    gap: 0 0.5rem;
  }
  .image {
    border-radius: 0.45625rem;
  }
}
@media screen and (max-width: 790px) {
  .titleWrapper {
    font-size: var(--font-size-LTitle);
  }
  .gallery {
    --count: 4;
    --img-size: 6rem;
    --gutter-t: 0.625rem;
    --gutter-l: 0.4375rem;

    font-size: var(--font-size-Body);
  }
  .image {
    opacity: 1;
  }
  .servicesItem {
    font-size: var(--font-size-Body);
  }
  .unit {
    font-size: var(--font-size-Caption);
  }
  .price {
    font-size: var(--font-size-Title);
  }
  .transfer {
    --iconSize: 1.2rem;
    --border-radius: 0.9375rem !important;

    padding: 1rem !important;
  }
  .transfer > *:not(i) {
    font-size: var(--font-size-Body) !important;
  }
}
@media screen and (max-width: 580px) {
  .titleWrapper {
    font-size: var(--font-size-MTitle);
  }
  .servicesItem {
    font-size: var(--font-size-Caption);
  }
  .unit {
    font-size: var(--font-size-SCaption);
  }
  .price {
    font-size: var(--font-size-STitle);
  }
}
