.form {
  --gutter: 1.875rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}
.input {
  --height: 5.25rem;
  --font-size: var(--font-size-MBody);

  gap: 1rem 0;
  flex-direction: column;
  width: calc(50% - var(--gutter));
}
.inputWrapper {
  padding: 1.875rem 2rem !important;
}
.inputTitle {
  opacity: 0.6;
  font-size: var(--font-size-XLBody);
}
.submitButton {
  --iconSize: 1.5rem;
  --button-width: 16.9375rem;

  margin-top: 0.625rem;
  box-shadow: 0 0.2rem 0rem rgba(255, 255, 255, 0);
  text-shadow: 0 0.2rem 0rem rgba(var(--color-primary-rgb), 0);
}
.submitButton i {
  --text-color: var(--color-primary);
}
.submitButton:hover {
  box-shadow: var(--text-shadow-5);
  background: rgba(var(--color-bg-1-rgb), 0.1);
}
.border {
  transition: all 0.3s;
}
.submitButton:hover .border {
  opacity: 0;
}
