.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
  margin-right: calc(-0.6rem + 2px);
  cursor: pointer;
}
.point {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(
      132deg,
      #fff -2%,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 70%,
      #fff 102%
    );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0.9;
}
.pointInner {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.1;
  backdrop-filter: blur(10px) contrast(0.9);
  border-radius: 50%;
  transform: scale(0.8);
}
.title {
  position: absolute;
  max-width: 11rem;
  right: 100%;
  width: max-content;
  text-align: right;
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: normal;
  opacity: 0.4;
}
.line {
  height: 9rem;
}
.line svg {
  width: 100%;
  height: 100%;
}
