.container {
  --border-radius: 2.5rem;
  --moreButtonMargin: 5.0625rem;

  display: flex;
  margin: 15.0625rem auto 8.375rem !important;
}
.backgroundText {
  top: 30%;
  z-index: -1;
  opacity: 0.08;
  font-weight: bold;
  position: absolute;
  width: max-content;
  font-size: 23.8875rem;
  left: calc(var(--margin-container) / -2);
}
.context {
  z-index: 5;
  flex-grow: 1;
  display: flex;
  margin-left: auto;
  align-items: center;
  flex-direction: column;
  padding: 10rem 1rem 18rem;
}
.title {
  font-weight: bold;
  font-size: var(--font-size-Head);
}
.description {
  width: 33em;
  opacity: 0.8;
  text-align: justify;
  line-height: normal;
  letter-spacing: normal;
  text-align-last: center;
  margin: 2rem 0 6.3125rem;
  text-shadow: var(--text-shadow-1);
  font-size: var(--font-size-STitle);
}
.contextItemsWrapper {
  --contextItemGutter: 2.25rem;
}
.floatImg {
  position: absolute;
  pointer-events: none;
  top: var(--top);
  left: var(--left);
  right: var(--right);
  width: var(--width);
  bottom: var(--bottom);
}
.static {
  opacity: 1;
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1600px) {
  .title {
    font-size: var(--font-size-XXLTitle);
  }
  .description {
    font-size: var(--font-size-XLBody);
  }
  .contextItemsWrapper {
    --contextItemGutter: 1rem;
    --contextItemFontSize: var(--font-size-STitle);
  }
}
@media screen and (max-width: 1300px) {
  .container::before {
    all: unset;
    content: "";
    content: "";
    z-index: -1;
    left: -14rem;
    width: 28rem;
    bottom: 5rem;
    height: 19rem;
    position: absolute;
    background-size: cover;
    transform: scaleY(-1);
    background-repeat: no-repeat;
    background-image: url(/media/static/2.png);
  }
  .context {
    padding: 7.5rem 1rem 16rem;
  }
  .description {
    font-size: var(--font-size-XLBody);
  }
  .contextItemsWrapper {
    --contextItemGutter: 2.25rem;
  }
  .floatImg_1 {
    --width: 31.25rem;
    --left: -20.4rem !important;
  }
  .floatImg_4,
  .floatImg_5 {
    --width: 23.125rem;
  }
}
@media screen and (max-width: 1200px) {
  .title {
    font-size: var(--font-size-XLTitle);
  }
  .description {
    width: 24em;
    margin: 1.375rem 0 3.4375rem;
    font-size: var(--font-size-XLBody);
  }
}
@media screen and (max-width: 990px) {
  .container {
    --border-radius: 1.875rem;
  }
  .contextItemsWrapper {
    --contextItemGutter: 1.5rem;
  }
}
@media screen and (max-width: 790px) {
  .container {
    --border-radius: 1.25rem;
    margin: 8.25rem auto 4.375rem !important;
  }
  .context {
    padding: 4.9375rem 1rem 13rem;
  }
  .title {
    font-size: var(--font-size-LTitle);
  }
  .description {
    opacity: 1;
    width: 19em;
    text-align: center;
    margin: 1.375rem 0 2.125rem;
    text-shadow: var(--text-shadow-3);
  }
  .floatImg_1 {
    --width: 25rem;
    --left: -15.4rem !important;
  }
  .floatImg_2 {
    --width: 14.75rem;
    --left: 7.6rem !important;
  }
  .floatImg_3 {
    --width: 7rem;
    --top: 2rem !important;
    --left: 22.6rem !important;
  }
  .floatImg_4,
  .floatImg_5 {
    --width: 16.875rem;
  }
}
@media screen and (max-width: 650px) {
  .container {
    --moreButtonMargin: 2.875rem;
  }
  .contextItemsWrapper {
    --contextItemGutter: 0;
    --contextItemFontSize: 1.75rem;

    gap: 1.5rem 0;
    flex-wrap: wrap;
  }
  .contextItem {
    width: 100%;
  }
  .contextItem::before {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .container {
    --moreButtonMargin: 3.8125rem;
  }
  .container::before {
    width: 24rem;
    height: 15rem;
  }
  .title {
    font-size: var(--font-size-MTitle);
  }
  .context {
    padding: 4.9375rem 1rem 11rem;
  }
  .description {
    margin: 1.375rem 0 2.875rem;
    font-size: var(--font-size-LBody);
  }
  .floatImg_1 {
    --width: 18.75rem;
    --left: -11.4rem !important;
  }
  .floatImg_2 {
    --left: 1.6rem !important;
  }
  .floatImg_3 {
    --left: 16.6rem !important;
  }
  .floatImg_4,
  .floatImg_5 {
    --width: 14.375rem;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: var(--font-size-STitle);
  }
  .description {
    width: 85%;
    font-size: var(--font-size-Body);
  }
  .contextItemsWrapper {
    --contextItemFontSize: var(--font-size-XLBody);
  }
}
