.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  position: fixed;
  z-index: 900;
  flex-direction: column;
  backdrop-filter: blur(30px);
  background-image: radial-gradient(circle at 49% 57%, #2b221e, #6c5145 138%);
}
.content {
  width: 100%;
  height: 100%;
}
.closeButton {
  z-index: 10;
  margin-top: 6rem;
  width: max-content;
  transition: all 0.3s;
  padding: 0 !important;
}
.closeButton i {
  --iconSize: 1.5rem;
  --text-color: var(--color-primary);
}
.closeButton i[class*="close"] {
  --iconSize: 1.7rem;
  --text-color: var(--color-white);
}

/* ----------Media Queries---------- */

@media screen and (max-width: 790px) {
  .closeButton {
    margin: 0;
    top: 55px;
    position: absolute;
  }
  .closeButton i {
    display: none;
  }
}
