.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  pointer-events: none;
}
.rect {
  x: 1;
  y: 1;
  width: calc(100% - 2px);
  rx: var(--border-radius);
  height: calc(100% - 2px);
}
