html {
  font-size: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html *,
html *::before,
html *::after {
  box-sizing: inherit;
}
body {
  font-weight: 400;
  overflow-x: clip;
  height: 100vh;
  color: var(--color-white);
  font-family: var(--font-family), sans-serif;
  background: top left / 100% 100% var(--color-background-1) no-repeat;
}
#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .app {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
i[class^="icon-"],
i[class*=" icon-"] {
  line-height: unset;
}

/* -------------- Public Classes -------------- */

.container {
  margin: 0 auto;
  position: relative;
  max-width: var(--max-width);
  width: calc(100% - var(--margin-container));
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-fill {
  flex: 1;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  display: flex;
  align-items: center;
}
.none {
  display: none !important;
}
.pageContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nowrapText {
  overflow: hidden;
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.upperCaseText {
  text-transform: uppercase;
}
.capitalizeText {
  text-transform: capitalize;
}
.capitalizeFirstLetterText::first-letter {
  text-transform: capitalize;
}
.vs {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}
.backdropFilter {
  position: relative;
  border-radius: var(--border-radius);
}
.backdropFilter::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: inherit;
  backdrop-filter: blur(10px) saturate(100%) contrast(50%) brightness(130%);
}

/* -------------- TOAST -------------- */
.toast-component {
  z-index: 999;
}
.toast-component .Toastify__toast {
  margin: 1rem;
  border-radius: 1rem;
  align-items: center;
  padding: 0.7rem 1.2rem;
}
.toast-component .Toastify__toast .Toastify__toast-body {
  font-size: 0.9em;
  font-family: var(--font-family) !important;
  color: rgb(63, 56, 56);
}
.toast-component .Toastify__progress-bar {
  height: 100%;
}
.toast-component .Toastify__progress-bar--error {
  background: rgba(var(--color-dangers-rgb), 0.1);
}
.toast-component .Toastify__toast--error {
  background: #fff;
  color: var(--color-dangers);
  border: solid 2px var(--color-dangers);
  box-shadow: 0 0.5rem 3rem rgba(var(--color-dangers-rgb), 0.15);
}
.toast-component .Toastify__progress-bar--success {
  background: rgba(var(--color-sussces-rgb), 0.1);
}
.toast-component .Toastify__toast--success {
  background: #fff;
  color: var(--color-sussces);
  border: solid 2px var(--color-sussces);
  box-shadow: 0 0.5rem 3rem rgba(var(--color-sussces-rgb), 0.15);
}
.toast-component .Toastify__progress-bar--info {
  background: rgba(var(--color-primary-rgb), 0.1);
}
.toast-component .Toastify__toast--info {
  background: #fff;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
  box-shadow: 0 0.5rem 3rem rgba(var(--color-primary-rgb), 0.15);
}

/* -------------- TYPOGRAPHY -------------- */

.LHeadH {
  font-size: var(--font-size-LHead);
  font-weight: 900;
}
.LHeadB {
  font-size: var(--font-size-LHead);
  font-weight: 700;
}
.LHeadM {
  font-size: var(--font-size-LHead);
  font-weight: 500;
}
.LHeadR {
  font-size: var(--font-size-LHead);
}
.MHeadH {
  font-size: var(--font-size-MHead);
  font-weight: 900;
}
.MHeadB {
  font-size: var(--font-size-MHead);
  font-weight: 700;
}
.MHeadM {
  font-size: var(--font-size-MHead);
  font-weight: 500;
}
.MHeadR {
  font-size: var(--font-size-MHead);
}
.HeadH {
  font-size: var(--font-size-Head);
  font-weight: 900;
}
.HeadB {
  font-size: var(--font-size-Head);
  font-weight: 700;
}
.HeadM {
  font-size: var(--font-size-Head);
  font-weight: 500;
}
.HeadR {
  font-size: var(--font-size-Head);
}
.SHeadH {
  font-size: var(--font-size-SHead);
  font-weight: 900;
}
.SHeadB {
  font-size: var(--font-size-SHead);
  font-weight: 700;
}
.SHeadM {
  font-size: var(--font-size-SHead);
  font-weight: 500;
}
.SHeadR {
  font-size: var(--font-size-SHead);
}
.XXLTitleH {
  font-size: var(--font-size-XXLTitle);
  font-weight: 900;
}
.XXLTitleB {
  font-size: var(--font-size-XXLTitle);
  font-weight: 700;
}
.XXLTitleM {
  font-size: var(--font-size-XXLTitle);
  font-weight: 500;
}
.XXLTitleR {
  font-size: var(--font-size-XXLTitle);
}
.XLTitleH {
  font-size: var(--font-size-XLTitle);
  font-weight: 900;
}
.XLTitleB {
  font-size: var(--font-size-XLTitle);
  font-weight: 700;
}
.XLTitleM {
  font-size: var(--font-size-XLTitle);
  font-weight: 500;
}
.XLTitleR {
  font-size: var(--font-size-XLTitle);
}
.LTitleH {
  font-size: var(--font-size-LTitle);
  font-weight: 900;
}
.LTitleB {
  font-size: var(--font-size-LTitle);
  font-weight: 700;
}
.LTitleM {
  font-size: var(--font-size-LTitle);
  font-weight: 500;
}
.LTitleR {
  font-size: var(--font-size-LTitle);
}
.MTitleH {
  font-size: var(--font-size-MTitle);
  font-weight: 900;
}
.MTitleB {
  font-size: var(--font-size-MTitle);
  font-weight: 700;
}
.MTitleM {
  font-size: var(--font-size-MTitle);
  font-weight: 500;
}
.MTitleR {
  font-size: var(--font-size-MTitle);
}
.TitleH {
  font-size: var(--font-size-Title);
  font-weight: 900;
}
.TitleB {
  font-size: var(--font-size-Title);
  font-weight: 700;
}
.TitleM {
  font-size: var(--font-size-Title);
  font-weight: 500;
}
.TitleR {
  font-size: var(--font-size-Title);
}
.STitleH {
  font-size: var(--font-size-STitle);
  font-weight: 900;
}
.STitleB {
  font-size: var(--font-size-STitle);
  font-weight: 700;
}
.STitleM {
  font-size: var(--font-size-STitle);
  font-weight: 500;
}
.STitleR {
  font-size: var(--font-size-STitle);
}
.XXLBodyH {
  font-size: var(--font-size-XXLBody);
  font-weight: 900;
}
.XXLBodyB {
  font-size: var(--font-size-XXLBody);
  font-weight: 700;
}
.XXLBodyM {
  font-size: var(--font-size-XXLBody);
  font-weight: 500;
}
.XXLBodyR {
  font-size: var(--font-size-XXLBody);
}
.XLBodyH {
  font-size: var(--font-size-XLBody);
  font-weight: 900;
}
.XLBodyB {
  font-size: var(--font-size-XLBody);
  font-weight: 700;
}
.XLBodyM {
  font-size: var(--font-size-XLBody);
  font-weight: 500;
}
.XLBodyR {
  font-size: var(--font-size-XLBody);
}
.LBodyH {
  font-size: var(--font-size-LBody);
  font-weight: 900;
}
.LBodyB {
  font-size: var(--font-size-LBody);
  font-weight: 700;
}
.LBodyM {
  font-size: var(--font-size-LBody);
  font-weight: 500;
}
.LBodyR {
  font-size: var(--font-size-LBody);
}
.MBodyH {
  font-size: var(--font-size-MBody);
  font-weight: 900;
}
.MBodyB {
  font-size: var(--font-size-MBody);
  font-weight: 700;
}
.MBodyM {
  font-size: var(--font-size-MBody);
  font-weight: 500;
}
.MBodyR {
  font-size: var(--font-size-MBody);
}
.BodyH {
  font-size: var(--font-size-Body);
  font-weight: 900;
}
.BodyB {
  font-size: var(--font-size-Body);
  font-weight: 700;
}
.BodyM {
  font-size: var(--font-size-Body);
  font-weight: 500;
}
.BodyR {
  font-size: var(--font-size-Body);
}
.CaptionH {
  font-size: var(--font-size-Caption);
  font-weight: 900;
}
.CaptionB {
  font-size: var(--font-size-Caption);
  font-weight: 700;
}
.CaptionM {
  font-size: var(--font-size-Caption);
  font-weight: 500;
}
.CaptionR {
  font-size: var(--font-size-Caption);
}
.SCaptionH {
  font-weight: 900;
  font-size: var(--font-size-SCaption);
}
.SCaptionB {
  font-weight: 700;
  font-size: var(--font-size-SCaption);
}
.SCaptionM {
  font-size: var(--font-size-SCaption);
  font-weight: 500;
}
.SCaptionR {
  font-size: var(--font-size-SCaption);
}
strong {
  font-weight: 700;
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1400px) {
  :root {
    --margin-container: 5rem;
  }
}
@media screen and (max-width: 790px) {
  :root {
    --margin-container: 2rem;
  }
}
