:root {
  --color-primary: #c58270;
  --color-primary-darker: #bd7d6b;
  --color-primary-rgb: 197, 130, 112;

  --color-text-1: #710f00;
  --color-text-2: #c05d54;
  --color-text-3: #ffeede;
  --color-text-4: #ffc2b2;
  --color-text-5: #bb594a;

  --color-bg-1: #efc299;
  --color-bg-1-rgb: 239, 194, 153;
  --color-bg-2: #f5918c;
  --color-bg-3: #c18161;
  --color-bg-3-rgb: 193, 129, 97;
  --color-bg-4: #cd8473;
  --color-bg-5: #d67760;

  --text-shadow-1: 0 2px 80px var(--color-bg-3);
  --text-shadow-2: 0 0 40px rgba(var(--color-white-rgb), 0.3);
  --text-shadow-3: 0 1px 48px var(--color-bg-3);
  --text-shadow-4: 0 2px 40px #633219;
  --text-shadow-5: 0 3px 48px rgba(var(--color-bg-3-rgb), 0.2);

  --color-background-1: linear-gradient(
    180deg,
    var(--color-bg-1) 4%,
    var(--color-bg-2) 77%,
    var(--color-bg-2) 77%
  );
  --color-background-2: linear-gradient(
    145deg,
    var(--color-bg-1) 5%,
    var(--color-bg-2) 81%,
    var(--color-bg-2) 81%
  );
  --color-white: #fff;
  --color-dangers: #ff3b1d;
  --color-sussces: #00b176;
  --color-white-rgb: 255, 255, 255;
  --color-dangers-rgb: 255, 59, 29;
  --color-sussces-rgb: 0, 177, 118;

  --max-width: 119.9375rem /* 1919px */;
  --margin-container: 17.5rem /* 280px */;

  --font-family: "Product Sans";

  --font-size-LHead: 7.5rem /* 120px */;
  --font-size-MHead: 6.625rem /* 106px */;
  --font-size-Head: 6rem /* 96px */;
  --font-size-SHead: 5rem /* 80px */;
  --font-size-XXLTitle: 3.4375rem /* 55px */;
  --font-size-XLTitle: 3.125rem /* 50px */;
  --font-size-LTitle: 2.5rem /* 40px */;
  --font-size-MTitle: 2.25rem /* 36px */;
  --font-size-Title: 2rem /* 32px */;
  --font-size-LSTitle: 1.75rem /* 28px */;
  --font-size-STitle: 1.625rem /* 26px */;
  --font-size-XXLBody: 1.5rem /* 24px */;
  --font-size-XLBody: 1.375rem /* 22px */;
  --font-size-LBody: 1.25rem /* 20px */;
  --font-size-MBody: 1.125rem /* 18px */;
  --font-size-Body: 1rem; /* 16px */
  --font-size-Caption: 0.875rem /* 14px */;
  --font-size-SCaption: 0.75rem /* 12px */;
}
