.container {
	--border-radius: 2.5rem;

	display: flex;
	position: relative;
	margin-top: 17.9375rem;
}
.wrapper {
	display: flex;
}
.imgContent {
	z-index: 200;
	flex-shrink: 0;
	height: 47.5rem;
	width: 38.6875rem;
	position: relative;
	border-radius: 1.875rem;
	margin: 0 2.4375rem 0 2.5rem;
}
.imgContent > img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: inherit;
	margin: 1.625rem 0 0 0;
}
.imgContent::before {
	width: 15%;
	content: "";
	z-index: -1;
	top: 4.75rem;
	right: -2.5rem;
	bottom: 2.8125rem;
	position: absolute;
	border-radius: inherit;
	background-color: var(--color-bg-4);
}
.context {
	flex-grow: 1;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	padding: 12rem 1rem 4.1875rem;
}
.context > *:not(img) {
	z-index: 5;
}
.title {
	font-weight: bold;
	font-size: var(--font-size-Head);
}
.description {
	width: 20em;
	line-height: normal;
	text-align: justify;
	letter-spacing: 0.9px;
	text-align-last: center;
	margin: 2.3125rem 0 6.0625rem;
	font-size: var(--font-size-STitle);
}
.floatImg {
	position: absolute;
	pointer-events: none;
	top: var(--top);
	left: var(--left);
	right: var(--right);
	width: var(--width);
	bottom: var(--bottom);
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1600px) {
	.imgContent {
		height: 36.5rem;
		width: 27.6875rem;
	}
	.context {
		padding: 6rem 1rem 4.1875rem;
	}
	.title {
		font-size: var(--font-size-SHead);
	}
	.description {
		font-size: var(--font-size-XXLBody);
	}
	.floatImg_4 {
		--width: 20rem;
	}
}
@media screen and (max-width: 1300px) {
	.container {
		margin-top: 35vw;
	}
	.container::before {
		content: "";
		z-index: -1;
		left: -26rem;
		width: 34rem;
		height: 32rem;
		bottom: -14rem;
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(/media/static/12.png);
	}
	.wrapper {
		flex-wrap: wrap;
	}
	.imgContent {
		width: 45vw;
		z-index: 200;
		height: auto;
		border-radius: 1.875rem;
		margin: -11vw auto 3.8125rem;
	}
	.imgContent > img {
		margin: 0;
	}
	.imgContent::before {
		content: "";
		width: auto;
		z-index: -1;
		top: 3.125rem;
		left: 0.875rem;
		right: 0.875rem;
		bottom: -1.25rem;
	}
	.context {
		width: 100%;
		padding-top: 0;
	}
}
@media screen and (max-width: 1200px) {
	.title {
		font-size: var(--font-size-XLTitle);
	}
	.description {
		margin: 1.375rem 0 3.4375rem;
		font-size: var(--font-size-XLBody);
	}
	.floatImg_1 {
		--width: 25.25rem;
		--top: -9rem !important;
		--left: -14rem !important;
	}
	.floatImg_2 {
		--width: 11.25rem;
		--top: -2.2rem !important;
		--left: calc(50% - 13.4rem) !important;
	}
	.floatImg_3 {
		--width: 12.3125rem;
		--top: -2.2rem !important;
		--left: 50% !important;
	}
	.floatImg_4 {
		--width: 18rem;
		--right: -6.3rem !important;
		--bottom: -13% !important;
	}
}
@media screen and (max-width: 990px) {
	.container {
		--border-radius: 1.875rem;
	}
}
@media screen and (max-width: 790px) {
	.container {
		--border-radius: 1.25rem;
	}
	.container::before {
		left: -18rem;
		width: 25rem;
		height: 25rem;
		bottom: -14rem;
	}
	.title {
		font-size: var(--font-size-LTitle);
	}
	.description {
		opacity: 1;
		text-shadow: var(--text-shadow-3);
	}
	.floatImg_1 {
		--width: 19.3125rem;
		--left: -11rem !important;
	}
	.floatImg_2 {
		--width: 9.375rem;
		--left: calc(50% - 11.4rem) !important;
	}
	.floatImg_3 {
		--width: 11.0625rem;
	}
	.floatImg_4 {
		--width: 13.9375rem;
		--right: -5rem !important;
		--bottom: -12% !important;
	}
}
@media screen and (max-width: 580px) {
	.container::before {
		left: -14rem;
		bottom: -10rem;
		width: 18.75rem;
		height: 18.75rem;
	}
	.title {
		font-size: var(--font-size-Title);
	}
	.description {
		font-size: var(--font-size-MBody);
	}
	.imgContent {
		width: 75vw;
	}
	.floatImg_1 {
		--width: 14.3125rem;
		--left: -8rem !important;
	}
	.floatImg_2 {
		--width: 5.625rem;
		--top: -1.4rem !important;
		--left: calc(50% - 7.3rem) !important;
	}
	.floatImg_3 {
		--width: 7.9375rem;
		--top: -1.4rem !important;
	}
	.floatImg_4 {
		--width: 8.9375rem;
		--right: -3.5rem !important;
		--bottom: -9% !important;
	}
}
@media screen and (max-width: 480px) {
	.description {
		width: 85%;
	}
}
